{% extends 'base.html' %}
{% block content %}
<div style="width: 50vw; margin: 25px auto; text-align: center;">
    <h1>Signup</h1>
    {% if error_message %}<p class="text-danger">{{ error_message }}</p>{% endif %}
    <form action="" method="POST" >
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div style="width: 50vw; margin: 25px auto;">
            <div>
                {{ field.label_tag }} 
            </div>
            <div>
                {{ field }}
            </div>
            
            {% if error_message %}
                {{ field.help_text }}
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" class="btn-md btn btn-md btn-success float-center" value="Sign Up" >
    </form>
    <!-- <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="Signup">
    </form> -->
    <!-- <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="form-group form-box">
            <input type="text" name="username" id="id_username" class="input-text" placeholder="Username" required/>
        </div>
        <div class="form-group form-box">
            <input type="password" name="password1" id="id_password1" class="input-text" placeholder="Password" required/>
        </div>
        <div class="form-group form-box">
            <input type="password" name="password2" id="id_password2" class="input-text" placeholder="Verify Password" required/>
        </div>
        <div class="form-group mb-0 clearfix">
            <button type="submit" class="btn-md btn-theme float-center">Sign Up</button>
        </div>
    </form> -->
</div>
{% endblock content %}
    