{% extends 'base.html' %}

{% block content %}

<div style="margin: 20px 40px; display: flex; justify-content: space-between; width: 40vw; ">
    <h1>Patient ID: {{patient.id}}</h1>
    <a href="{% url 'patients_update' patient.id %}"> <button class="btn btn-md btn-secondary">Edit</button> </a>
    <a href="{% url 'patients_delete' patient.id %}"> <button class ="btn btn-md btn-danger">Delete</button> </a>
</div>

<div style="display: flex; flex-direction: column;">
    <div
        style=" font-size: 24px; margin-left: 50px; width: 50vw; display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(6, 1fr)">
        <div style="margin: 20px 0;" class="bg-$orange-200 text-dark">Name: </div>
        <div style="margin: 20px 40px;">{{patient.patient_name}}</div>
        <div style="margin: 20px 0;">Last Name: </div>
        <div style="margin: 20px 40px;">{{patient.patient_lastname}}</div>
        <div style="margin: 20px 0;">Species: </div>
        <div style="margin: 20px 40px;">{{patient.patient_species}}</div>
        <div style="margin: 20px 0;">Age: </div>
        <div style="margin: 20px 40px;">{{patient.patient_age}}</div>
        <div style="margin: 20px 0;">Gender: </div>
        <div style="margin: 20px 40px;">{{patient.patient_gender}}</div>
        <div style="margin: 20px 0;">Weight: </div>
        <div style="margin: 20px 40px;">{{patient.patient_weight}}</div>
        <div style="margin: 20px 0;">Color: </div>
        <div style="margin: 20px 40px;">{{patient.color}}</div>
    </div>
</div>


{% endblock content %}