{% extends 'base.html' %}

{% block content %}

<div style="margin: 20px 40px; display: flex; justify-content: space-between; width: 40vw; ">
    <h1>Patient ID: {{patient.id}}</h1>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="{% url 'patients_update' patient.id %}"> <i class="bi bi-trash3"></i> &nbsp Delete</a></button>
        <button type="button" class="btn btn-secondary"> <a style="text-decoration: none; color: white;" href="{% url 'patients_delete' patient.id %}"> &nbsp <i class="bi bi-pencil-square"></i>&nbsp Edit &nbsp</a></button>
    </div>
</div>

<div style="display: flex; flex-direction: column;">
    <div
        style=" font-size: 24px; margin-left: 50px; width: 50vw; display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(6, 1fr)">
        <div style="margin: 20px 0;" class="bg-$orange-200 text-dark">Name: </div>
        <div style="margin: 20px 40px;">{{patient.patient_name}}</div>
        <div style="margin: 20px 0;">Last Name: </div>
        <div style="margin: 20px 40px;">{{patient.patient_lastname}}</div>
        <div style="margin: 20px 0;">Species: </div>
        <div style="margin: 20px 40px;">{{patient.patient_species}}</div>
        <div style="margin: 20px 0;">Age: </div>
        <div style="margin: 20px 40px;">{{patient.patient_age}}</div>
        <div style="margin: 20px 0;">Gender: </div>
        <div style="margin: 20px 40px;">{{patient.patient_gender}}</div>
        <div style="margin: 20px 0;">Weight: </div>
        <div style="margin: 20px 40px;">{{patient.patient_weight}}</div>
        <div style="margin: 20px 0;">Color: </div>
        <div style="margin: 20px 40px;">{{patient.color}}</div>
    </div>
</div>


{% endblock content %}