{% extends 'base.html' %}
{% block content %}

<div style="margin: 40px 40px; ">
    <h1>Are you sure you wish to delete <span style="color: orange">{{ patient.patient_name }}</span>?</h1>

    <form action="" method="POST">
    {% csrf_token %}
        <button style="margin-right: 40px;" class="btn btn-md btn-danger" type="submit" value="Delete"> Delete </button>
        <a href="{% url 'patient_history' patient.id %}"><button class="btn btn-md btn-secondary">Cancel</button></a>
    </form>
</div>


{% endblock content %}
    