{% extends 'base.html' %}

{% block content %}   

{% if object_list %}
    {% for service in object_list %}
    <div>
        <div class="card text-center" style="width: 75vw; margin: 40px auto;">
            <div class="card-header" >
            <i class="bi bi-hospital"></i> &nbsp Service
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ service.service_type }}</h5>
            <p class="card-text">${{ service.service_price }}</p>
            <a href="{% url 'service_detail' service.pk %}" class="btn btn-primary"><i class="bi bi-info-circle"> </i> &nbsp Detail </a>
            </div>
        </div>
    </div>
    {% endfor %}   
{% else %}
    <h1 style="text-align: center; margin-top: 100px;" class="display-4">Add a Service to your skills!</h1>
{% endif %}
    
  
{% endblock content %}
    