<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="images/brand_logo.png" alt="" width="30" height="24">
    </a>
    <div style="display: flex; justify-content: flex-end">
      <ul>
        <li style="list-style: none;"><a style="text-decoration: none" href="#">About</a></li>
      </ul>
      <ul>
        <li style="list-style: none;"><a style="text-decoration: none" href="#">Add Patient</a></li>
      </ul>
    </div>
  </div>
</nav>