* {
    overflow: hidden;
}

.navbar {
    border-bottom: 1px solid black;
    /* background: white; */
}

.navbar-brand img {
    width: 55%;
}

.navbar li {
    font-size: 30px;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #ea4d33;
}

.dropdown-menu a {
    font-size: 25px;
}

.dropdown-item {
    background-color: white !important;
}

.dropdown-item:hover {
    background-color: grey !important;
    color: white !important;
}


/*  */
.calendar {
    width: 95vw;
    height: 85vh;
    margin: 0 auto;
    font-size: 13px;
    align-items: top;
    margin-bottom: 40px; 
}

.calendar tr,
.calendar td {
    border: 1px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    max-height: 150px;
    padding: 20px 0px 0px 5px;
    vertical-align: text-top;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}

a {
    color: #17a2b8;
}

li {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  } */

.clearfix {
    margin: 15px;
}

.form {
    margin: auto;
}

.form input,
.form select,
.form textarea {
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
}
