{% extends 'base.html' %}

{% load static %}


{% block content %}

<div style="overflow-x: hidden">
    <div>
        <img style="width: 100vw;" src="{% static 'images/about.jpg' %}">
        <h2 class="display-6" style="position: absolute; top: 250px; left: 100px; width: 400px;">Easy to Use & Affordable
            Electronic Medical Records for Veterinarians</h2>
    </div>
    <div class="card-group" style="margin: 0 30px; margin-top: 200px;">
        <div class="card">
            <div>
                <center><img style="padding-top: 20px; width: 100px; text-align: center;"
                        src="{% static 'images/clipboard.svg' %}" class="card-img-top" alt="..."></center>
            </div>
    
            <div class="card-body">
                <h5 class="card-title display-6" style="text-align: center">Convenient & Simple Charting</h5>
                <br>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, placeat earum. Earum cum non incidunt error quibusdam minima amet iure.</p>
            </div>
        </div>
        <div class="card">
            <div>
                <center><img style="padding-top: 20px; width: 100px; text-align: center;"
                        src="{% static 'images/time.svg' %}" class="card-img-top" alt="..."></center>
            </div>
            <div class="card-body">
                <h5 class="card-title display-6" style="text-align: center">Spend More Time with Patients</h5>
                <br>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea sapiente, ipsum suscipit amet neque labore aperiam quibusdam sint libero id.</p>
            </div>
        </div>
        <div class="card">
            <div>
                <center><img style="padding-top: 20px; width: 100px; text-align: center;"
                        src="{% static 'images/money.svg' %}" class="card-img-top" alt="..."></center>
            </div>
            <div class="card-body">
                <h5 class="card-title display-6" style="text-align: center">Reduce Waste & Save Money</h5>
                <br>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos at iusto maxime magni dolore tempore porro odio illo voluptatibus voluptatem.</p>
            </div>
        </div>
    </div>
    
    <div style="margin-top: 200px">
        <center><h4>Thousands of <strong>veterinary practices</strong> trust Noah for their EMR</h4></center>
        <br>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 60px;">
            <img style="width: 10%" src="{% static 'images/wylielogo.png' %}" alt="">
            <img style="width: 10%" src="{% static 'images/vetpartnerslogo.jpeg' %}" alt="">
            <img style="width: 10%" src="{% static 'images/villagevetlogo.jpeg' %}" alt="">
            <img style="width: 10%" src="{% static 'images/nvalogo.png' %}" alt="">
            <img style="width: 10%" src="{% static 'images/blueriverlogo.jpeg' %}" alt="">
            <img style="width: 10%" src="{% static 'images/paramountlogo.png' %}" alt="">
        </div>
    </div>
    
    <div style="margin-top: 200px;">
        <center><h2 class="display-6">Custom tools for your practice</h2></center>
        <br>
        <center><h6 style="color: grey">Add/Edit/Delete Patients, Add/Edit/Delete Services, Scheduling software</h6></center>
        <div style="margin: 60px 80px; display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr);">
            <div>
                <h4> <img style="width: 30px" src="{% static 'images/check.svg' %}" alt=""> &nbsp Lorem Ipsum </h4>
                <p style="padding: 10px 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, assumenda rerum illo ipsa minus eveniet!</p>
            </div>
            <div>
                <h4> <img style="width: 30px" src="{% static 'images/check.svg' %}" alt=""> &nbsp Lorem Ipsum</h4>
                <p style="padding: 10px 50px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim odit quod assumenda laudantium quis sapiente.</p>
            </div>
            <div>
                <h4> <img style="width: 30px" src="{% static 'images/check.svg' %}" alt=""> &nbsp Lorem Ipsum</h4>
                <p style="padding: 10px 50px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eaque sapiente accusantium dolore nam velit.</p>
            </div>
            <div>
                <h4> <img style="width: 30px" src="{% static 'images/check.svg' %}" alt=""> &nbsp Lorem Ipsum</h4>
                <p style="padding: 10px 50px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolor necessitatibus consectetur, nobis vero aliquid!</p>
            </div>
            <div>
                <h4> <img style="width: 30px" src="{% static 'images/check.svg' %}" alt=""> &nbsp Lorem Ipsum</h4>
                <p style="padding: 10px 50px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto eveniet illo expedita nostrum maiores. Iure.</p>
            </div>
            <div>
                <h4> <img style="width: 30px" src="{% static 'images/check.svg' %}" alt=""> &nbsp Lorem Ipsum</h4>
                <p style="padding: 10px 50px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio iusto quidem est nulla accusamus beatae.</p>
            </div>
        </div>
    </div>
    
    <div style="padding: 100px 0; margin-bottom: 100px; background-color: #F8F9FA;">
        <center><h2 class="display-6"> Get started today </h2></center>
        <center><h4>See these features and many more! Take Noah for a test drive to see what Noah can do for you.</h4></center>
    </div>
</div>


{% endblock content %}